<div class="logo-container">
  <img src="/assets/images/train.png">
</div>
<router-outlet></router-outlet>
<div class="tasks">

  <div *ngFor="let task of list" [id]="'container_'+task._id">
<!--    read mode-->
    <div class="read-mode" [id]="'read_'+task._id">
        <label>Status</label>
        <span class="status-container">
          <p class="status"
             [style]="'background:'+{Active:'#4f774f', Disabled:'#1e1e1e', Awaiting:'#654169', Finished:'#4f7277'}[task.status.name]
                     +';color:'+{Active:'#ffffff', Disabled:'#fff', Awaiting:'#fff', Finished:'#fff'}[task.status.name] "
          >{{task.status.name}}</p>
        </span>
        <label>Nazwa zadania</label>
        <h2>{{task.name}}</h2>
        <label>Opis</label>
        <h3 > {{task.description}}</h3>
        <label>Dodano przez</label>
        <p *ngIf="task.user">{{task.user.name}}</p>
        <label *ngIf="task.updateUser">Zaktualizowano przez</label>
        <p *ngIf="task.updateUser">{{task.updateUser.name}}</p>
        <label>Ostatnia aktualizacja</label>
        <p>{{task.updateTimeString}}</p>
        <button [id]="'enable_'+task._id" (click)="edit(task._id)">Uruchom edycję</button>
    </div>
<!--  edit mode-->
    <div class="edit-mode" [id]="'edit_'+task._id">
      <label>Status</label>
        <span class="status-container">
          <select [id]="'status_'+task._id">
            <option *ngFor="let s of status" [value]="s._id">{{s.name}}</option>
          </select>
        </span><br/><br/>
      <label>Nazwa zadania</label><br/>
      <input type="text" [id]="'name_'+task._id" [value]="task.name"><br/><br/>
      <label>Opis</label><br/>
      <input type="text" [id]="'description_'+task._id" [value]="task.description"><br/><br/>
      <label>Dodano przez </label><br/>
      <p *ngIf="task.user">{{task.user.name}}</p>
      <label *ngIf="task.updateUser">Zaktualizowano przez </label><br/>
      <p *ngIf="task.updateUser">{{task.updateUser.name}}</p>
      <label>Data aktualizacji </label><br/>
      <p>{{task.updateTimeString}}</p>
      <button [id]="'save_'+task._id" (click)="saveEdit(task._id)">Zapisz</button>
      <button [id]="'delete_'+task._id" (click)="cancel(task._id)">Anuluj</button>
      <button [id]="'delete_'+task._id" (click)="delete(task._id)">Usuń</button>

    </div>

  </div>


</div>
